.succes {
    color: #4F8A10;
    background-color: #DFF2BF;
	background-image: url('https://i.imgur.com/Q9BGTuy.png');
    border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
}
.error {
    color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
    border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
}